[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-pytest = "==2.13.2"
allure-python-commons = "==2.13.2"
attrs = "==23.1.0"
iniconfig = "==2.0.0"
packaging = "==23.1"
pluggy = "==1.2.0"
pytest = "==7.4.0"

[dev-packages]

[requires]
python_version = "3.7"
